@font-face {
    font-family: 'DINPro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro Bold'), url('DINPro-Bold tr.woff') format('woff');
}
@font-face {
    font-family: 'DINPro Black';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro Black'), url('DINPro-Black tr.woff') format('woff');
}

html{
    scroll-behavior: smooth;
}

/* Background Initializer */
#homepage{
    background-image: url(homepage.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: absolute;
    top: 0;
    bottom: -51px;
    left: 0;
    right: 0;
    text-align: center !important;
}

/* Nav Styling */
.nav-pre{
    background-color: white;
    font-family: 'DINPro Black';
    color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px -2px 7px 0px #808080;
}

.nav-text{
    color: black !important;
    font-family: 'DINPro Black' !important;
    
}

/* Body Text */
.text{
    font-family: 'DINPro Black';
    color: black;
    text-align: center;
}

.body-text{
    padding-top: 40vh;
}

#we{
    font-size: 43px;
    margin-bottom: 1.5rem;
}

#moovement{
    font-size: 100px;
    line-height: 5.5rem;
    margin-top: .25vw;
    margin-bottom: 1rem;
}

#join{
    font-size: 20px; 
    letter-spacing: .05vw !important; 
    line-height: 2.8rem; 
    margin-bottom: 1vw;
}

#learnmore{
    font-size: 20px !important;
    letter-spacing: .05vw;
    text-align: center;
}

.arrow{
    left: 50%;
    margin-top: 12vw;
}

/* Line Styling */
a{
    border-style: hidden !important;
}

hr{
    margin-top: 4px !important;
    margin-bottom: 0 !important;
}

.line{
    border: .5px;
    border-style: solid;
    border-color: black;
    width: 50vw;
}

/* Buttons */
.btn-outline-dark{
    border-style: hidden !important;
    margin-top: 5px;
}

.btn-outline-dark:hover{
    color: white !important;
    background-color: black !important;
}

.btn-lg{
    line-height: 1.15 !important;
    font-size: 18px !important;
}

.btn-dark{
    background-color: black !important;
    line-height: 1.5 !important;
    border-color: black !important;
}