@font-face {
    font-family: 'DIN Condensed Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Condensed Bold'), url('DINCondensed-Bold.woff') format('woff');
}

@font-face {
    font-family: 'PFDinTextCondPro-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('PFDinTextCondPro-Regular'), url('PFDinTextCondPro-Regular.woff') format('woff');
}
@font-face {
    font-family: 'PFDinTextCondPro-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('PFDinTextCondPro-Bold'), url('PFDinTextCondPro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'DINPro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro Bold'), url('DINPro-Bold tr.woff') format('woff');
}
@font-face {
    font-family: 'DINPro Black';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro Black'), url('DINPro-Black tr.woff') format('woff');
}

html{
    scroll-behavior: smooth;
}

#homepage{
    background-image: url(homepage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#learnmore{
    padding: 0 !important; 
    font-size: 17px; 
    letter-spacing: .1vw;
    color: black;
    padding-left: .3vw !important;
}

#aboutus{
    padding: 3vw;
    color: black !important;
}

#aboutus-head{
    font-size: 3rem;
    padding: 3vw;
    text-align: left;
}

#carousel-head{
    font-family: 'DINPro Black';
    padding: 30px;
    font-size: 2.3vw;
    justify-content: center !important;
}


.meet-team-text{
    font-size: 1.5rem !important;
    letter-spacing: 0px !important;
}

body{
    margin: 0;
    overflow: scroll !important;
}

h1{
    margin: 0;
}

h2{
    font-size: 2rem !important;
    text-decoration-line:underline;
}

hr{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

a{
    border-style: hidden !important;
}

.text{
    padding-top: 248px;
    font-family: 'DINPro Black', sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 0px;
}

.line{
    border: .5px;
    border-style: solid;
    border-color: white;
    width: 50vw;
    margin-top: 1vw !important;
}

.btn{
    height: 43px;
    width: 140px;
}

.navbar-brand{
    margin: 0 !important;
    padding: 0 !important;
}

#nav-style{
    width: 90vw !important;
    margin-top: 72px !important;
    position: fixed;
    left: 5vw !important;
}

#navbar-form{
    padding-bottom: 11px !important;
    padding-top: 12px !important;
    max-block-size: 95px;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar.navbar-light{
    background-color: white !important;
    box-shadow: 0px 1px 7px 0px #d6d6d6;
    vertical-align: baseline !important;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    transition: 450ms ease;
}

.navbar{
    transition: 450ms ease-out;
}

.nav-text-scrolled.ncol{
    color: #bfe4f9 !important;
}

#nav-style.scrolled{
    border-color: transparent !important;
    transition: 300ms ease;
}

.nav-text{
    font-family: 'DINPro Bold', sans-serif;
    text-align: center;
    font-size: 1.6vw !important;
    color: white !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
}

#spacing{
    line-height: 100px !important;
}

li a {
    padding: 4px;
    text-decoration: none;
    max-block-size: 4vw;
}

li a.active {
    background-color: white;
}

.btn-outline-light:hover{
    color: #bfe4f9 !important;
}

.btn{
    border-top-style: none !important;
    border-bottom-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important
}

.btn.mcol:hover{
    background-color: #bfe4f9 !important;
    color: white !important;
}