@font-face {
    font-family: 'DIN Condensed Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Condensed Bold'), url('DINCondensed-Bold.woff') format('woff');
}

#homepage{
    background-image: url(homepage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#learnmore{
    padding: 0; 
    font-size: 1.5vw; 
    color: black;
    padding-top: .3vw;
}

#aboutus{
    padding: 0;
    color: black !important;
}

#aboutus-text{
    font-size: 5vw;
    padding: 40px;
    text-align: left;
}

button{
    scroll-behavior: smooth !important;
}

body{
    margin: 0;
    overflow: scroll !important;
}

h1{
    margin: 0;
}

hr{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

a{
    border-style: hidden !important;
    padding-left: 1vw !important;
}

.text{
    padding-top: 248px;
    font-family: 'DIN Condensed Bold', sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 1px;
}

.line{
    border: .5px;
    border-style: solid;
    border-color: white;
    width: 50vw;
}

.btn{
    height: 3vw;
    width: 9vw;
}

.navbar-brand{
    margin: 0 !important;
    padding: 0 !important;
}

#nav-style{
    width: 90vw;
    margin-top: 80px !important;
    position: fixed;
    margin-left: 5vw !important;
}

.nav-text{
    font-family: 'DIN Condensed Bold', sans-serif;
    text-align: center;
    font-size: 2vw !important;
    color: white !important;
    letter-spacing: 1px;
    margin-top: 5px;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 5px !important;
}

#spacing{
    line-height: 100px !important;
}

li a {
    padding: 4px;
    text-decoration: none;
    display:;
}

li a.active {
    background-color: white;
    color: #bfe4f9 !important;
}

.btn-outline-light:hover{
    color: #bfe4f9 !important;
}

.btn{
    border-top-style: none !important;
    border-bottom-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important
}